extends layout

block content
    if(currentUser)
        h1 #{currentUser.full_name}
        p #{currentUser.username}
        p #{currentUser.gender}
        p #{currentUser.email}
        p #{currentUser.date_of_birth}

        form(method='POST')
            button.btn.btn-primary(type='submit') Logout!
    else
        p Not able to load profile!